In [37]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [38]:
df = pd.read_csv("weather_data/WeatherPy_vacation.csv")

In [39]:
df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,57.00,light rain,-33.65,115.33,Observatory Guest House
1,14,Yima,CN,62.01,moderate rain,34.74,111.88,Yima Hotel
2,37,Rikitea,PF,74.89,light rain,-23.12,-134.97,Pension Maro'i
3,40,Bengkulu,ID,78.91,light rain,-3.80,102.27,Grage Hotel Bengkulu
4,66,Hithadhoo,MV,84.51,moderate rain,-0.60,73.08,Scoop Guest House
5,94,Vila,PT,78.01,light rain,42.03,-8.16,Hotel Castrum Villae
6,103,Biak,ID,78.73,light rain,-0.91,122.88,Kost Ariz
7,109,Kapaa,US,69.80,moderate rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
8,124,Noumea,NC,68.00,moderate rain,-22.28,166.46,Hôtel Le Lagon
9,127,Kindu,CD,74.41,light rain,-2.95,25.95,Hotel Karibu
10,129,Asau,RO,52.00,light rain,46.43,26.40,Casa Mika Ciobanus
11,143,Amapa,BR,79.38,moderate rain,1.00,-52.00,NaN
12,148,Meulaboh,ID,78.96,heavy intensity rain,4.14,96.13,Kost Pria
13,164,Qinhuangdao,CN,54.09,moderate rain,39.93,119.59,Qinhuangdao Peninsula Seasons Hotel And Apartment
14,182,Posse,BR,80.96,light rain,-14.09,-46.37,Pousada das Palmeiras
15,198,Chahal,GT,82.67,moderate rain,15.75,-89.57,NaN
16,203,Te Anau,NZ,50.45,light rain,-45.42,167.72,Kingsgate Hotel Te Anau
17,216,Georgiyevskoye,RU,59.59,light rain,58.73,45.02,NaN
18,221,Mareeba,AU,71.60,light rain,-17.00,145.43,Trinity Plains Tourist Park
19,227,Lagunas,PE,80.96,moderate rain,-5.23,-75.68,Hospedaje Eco
20,229,Gambela,ET,79.16,light rain,8.25,34.58,Solomon Debebe Hotel
21,238,Grand Gaube,MU,75.00,heavy intensity rain,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
22,263,Portland,US,54.00,light rain,45.52,-122.68,Portland Marriott City Center
23,265,Sao Felix Do Xingu,BR,85.15,light rain,-6.64,-51.99,Apart Hotel Rio Xingu
24,267,Boda,CF,74.37,light rain,4.32,17.47,NaN
25,286,Carauari,BR,82.60,moderate rain,-4.88,-66.90,Pousada Lobo
26,313,Daniel Flores,CR,81.52,light rain,9.34,-83.67,Hotel San Isidro
27,327,Terra Santa,BR,85.30,moderate rain,-2.10,-56.49,Igreja da paz
28,340,Padang,ID,78.98,moderate rain,-0.95,100.35,Mercure Padang
29,347,Ileza,RU,55.27,light rain,61.05,43.90,NaN
30,350,Puerto Leguizamo,CO,79.39,moderate rain,-0.19,-74.78,la casona de juancho
31,362,Dongying,CN,61.50,light rain,37.46,118.49,Wanda Realm
32,371,Lethem,GY,77.92,moderate rain,3.38,-59.80,Savannah Inn
33,390,Salinopolis,BR,83.41,light rain,-0.61,-47.36,Hotel Salinópolis
34,398,Vao,NC,71.11,light rain,-22.67,167.48,Hotel Kou-Bugny
35,416,Cap Malheureux,MU,75.00,heavy intensity rain,-19.98,57.61,Pereybere Hotel & Spa
36,439,Nkawkaw,GH,85.05,moderate rain,6.55,-0.77,Kowf Hotel
37,450,Linshui,CN,60.55,moderate rain,36.42,114.20,Fengfeng Dianchang Hotel
38,475,Pundaguitan,PH,83.28,moderate rain,6.37,126.17,Leonardo Family Beach House 1
39,482,Trincomalee,LK,82.29,light rain,8.57,81.23,Welcombe Hotel
40,493,Fonte Boa,BR,85.91,light rain,-2.50,-66.27,NaN
41,495,Warrington,GB,70.00,light rain,53.39,-2.58,Villaggio Hotel
42,496,Zhoucheng,CN,59.61,heavy intensity rain,35.91,116.31,Yingbin Restaurant
43,504,Joensuu,FI,50.00,light rain,62.60,29.76,Greenstar Hotels Oy
44,522,Babati,TZ,63.00,light rain,-4.22,35.75,White Rose Lodge
45,546,Grand-Santi,GF,75.85,light rain,4.25,-54.38,Hotel La Villa Couacou
46,551,Carutapera,BR,86.18,light rain,-1.20,-46.02,Lidera
47,573,Vanimo,PG,79.95,moderate rain,-2.67,141.30,Vahmoneh Lodge Vanimo

In [41]:
# Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.
yima_df = df.loc[df["City"]=="Yima"]
zhoucheng_df = df.loc[df["City"]=="Zhoucheng"]
dongying_df = df.loc[df["City"]=="Dongying"]
linshui_df = df.loc[df["City"]=="Linshui"]

In [42]:
yima_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,14,Yima,CN,62.01,moderate rain,34.74,111.88,Yima Hotel

In [43]:
zhoucheng_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,496,Zhoucheng,CN,59.61,heavy intensity rain,35.91,116.31,Yingbin Restaurant

In [44]:
linshui_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
37,450,Linshui,CN,60.55,moderate rain,36.42,114.2,Fengfeng Dianchang Hotel

In [45]:
dongying_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,362,Dongying,CN,61.5,light rain,37.46,118.49,Wanda Realm

In [46]:
yima = tuple(zip(yima_df["Lat"],yima_df["Lng"]))[0]
zhoucheng = tuple(zip(zhoucheng_df["Lat"],zhoucheng_df["Lng"]))[0]
linshui = tuple(zip(linshui_df["Lat"],linshui_df["Lng"]))[0]
dongying = tuple(zip(dongying_df["Lat"],dongying_df["Lng"]))[0]

In [47]:
print(yima,zhoucheng,linshui,dongying)

(34.74, 111.88) (35.91, 116.31) (36.42, 114.2) (37.46, 118.49)

In [50]:
fig = gmaps.figure()
yima2dongying = gmaps.directions_layer(yima, dongying, 
                                       waypoints=[linshui,zhoucheng],
                                       travel_mode='DRIVING')
fig.add_layer(yima2dongying)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Create a new DataFrame that has all the individual city DataFrames created.
hotel_df=yima_df.append(zhoucheng_df).append(linshui_df).append(dongying_df)

In [56]:
hotel_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,14,Yima,CN,62.01,moderate rain,34.74,111.88,Yima Hotel
42,496,Zhoucheng,CN,59.61,heavy intensity rain,35.91,116.31,Yingbin Restaurant
37,450,Linshui,CN,60.55,moderate rain,36.42,114.20,Fengfeng Dianchang Hotel
31,362,Dongying,CN,61.50,light rain,37.46,118.49,Wanda Realm

In [57]:
# Create a marker layer map for the four cities

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add cities to a marker layer map.
locations = hotel_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))