In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2020-05-05 04:20:27,-21.20,-175.20,80.60,78,75,3.36
1,1,Zeya,RU,2020-05-05 04:20:28,53.75,127.27,55.18,29,22,6.38
2,2,Severo-Kurilsk,RU,2020-05-05 04:20:28,50.68,156.12,39.34,93,100,21.05
3,3,Natchitoches,US,2020-05-05 04:20:28,31.77,-93.13,73.40,83,1,6.93
4,4,Rikitea,PF,2020-05-05 04:20:28,-23.12,-134.97,73.35,71,100,16.15

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2020-05-05 04:20:27,-21.20,-175.20,80.60,78,75,3.36
7,7,Kapaa,US,2020-05-05 04:20:28,22.08,-159.32,77.00,69,40,20.80
14,14,Karratha,AU,2020-05-05 04:20:29,-20.74,116.85,86.90,21,5,13.87
24,24,Emerald,AU,2020-05-05 04:20:31,-23.53,148.17,80.60,30,0,13.87
25,25,Tautira,PF,2020-05-05 04:20:31,-17.73,-149.15,84.20,70,17,6.93
27,27,Kapoeta,SS,2020-05-05 04:20:31,4.77,33.59,75.92,61,86,8.48
31,31,Cabedelo,BR,2020-05-05 04:20:31,-6.98,-34.83,77.00,94,75,3.36
33,33,Cabo San Lucas,MX,2020-05-05 04:20:32,22.89,-109.91,86.00,56,5,4.70
34,34,Saint-Philippe,RE,2020-05-05 04:20:32,-21.36,55.77,75.20,73,41,5.82
37,37,Georgetown,MY,2020-05-05 04:17:41,5.41,100.34,87.80,79,40,3.36

In [16]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [19]:
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\Hannah\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              City Country  Max Temp    Lat     Lng Hotel Name
0            Vaini      TO     80.60 -21.20 -175.20
7            Kapaa      US     77.00  22.08 -159.32
14        Karratha      AU     86.90 -20.74  116.85
24         Emerald      AU     80.60 -23.53  148.17
25         Tautira      PF     84.20 -17.73 -149.15
27         Kapoeta      SS     75.92   4.77   33.59
31        Cabedelo      BR     77.00  -6.98  -34.83
33  Cabo San Lucas      MX     86.00  22.89 -109.91
34  Saint-Philippe      RE     75.20 -21.36   55.77
37      Georgetown      MY     87.80   5.41  100.34

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\Hannah\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
7,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
14,Karratha,AU,86.90,-20.74,116.85,ibis Styles Karratha
24,Emerald,AU,80.60,-23.53,148.17,The Irish Village
25,Tautira,PF,84.20,-17.73,-149.15,Pension Oaoa
27,Kapoeta,SS,75.92,4.77,33.59,Eastgate Hotel
31,Cabedelo,BR,77.00,-6.98,-34.83,Lua Mansa Pousada
33,Cabo San Lucas,MX,86.00,22.89,-109.91,Hotel Tesoro Los Cabos
34,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
37,Georgetown,MY,87.80,5.41,100.34,Cititel Penang

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp, 
                                 dissipating = False,
                                max_intensity=300,
                                point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))